doctype html
head
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1.0')
    title AIRPAL-ENVIGADO
    // CSS
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    <link rel="icon" href="/images/mini.png">

    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
    script(src="https://code.jquery.com/jquery-3.3.1.js")
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    style.
        i {
            width: auto;
            text-align: center;
            vertical-align: middle;
        }
    block scripts
    block styles

nav.light-blue.lighten-1(role='navigation')
    .nav-wrapper.container
        a#logo-container.brand-logo(href='/app/index')
            img(src='/images/logo.png' height=70)
        ul.right.hide-on-med-and-down
            block navOptions
        ul#nav-mobile.sidenav
            li
                a(href='#') Navbar Link
        a.sidenav-trigger(href='#' data-target='nav-mobile')
            i.material-icons menu
#index-banner.section.no-pad-bot
    .container
        br
        br
        block content
        br
    br
    br
footer.page-footer.orange
    .container
        .row
            .col.l6.s12
                h5.white-text Company Bio
                p.grey-text.text-lighten-4
                    | We are a team of college students working on this project like it&apos;s our full time job. Any amount would help support and continue development on this project and is greatly appreciated.
            .col.l3.s12
                h5.white-text Settings
                ul
                    li
                        a.white-text(href='#!') Link 1
                    li
                        a.white-text(href='#!') Link 2
                    li
                        a.white-text(href='#!') Link 3
                    li
                        a.white-text(href='#!') Link 4
            .col.l3.s12
                h5.white-text Connect
                ul
                    li
                        a.white-text(href='#!') Link 1
                    li
                        a.white-text(href='#!') Link 2
                    li
                        a.white-text(href='#!') Link 3
                    li
                        a.white-text(href='#!') Link 4
    .footer-copyright
        .container
            | Made by
            a.orange-text.text-lighten-3(href='http://materializecss.com') Materialize
<script type="text/javascript" src="/js/materialize.min.js"></script>
