/*
Turquoise:#48F0E3
Midnight Blue:#0C363F
Midnight Blue:#0F182D
Sea Green:#266D72
Slate Gray:#6F7580
*/
.navbar-default {
  background-color: #0C363F
}

.brand-image{
  height: 50px;
  width: 150px
}
